@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:  "MontSerrat", sans-serif; 
}

:root{
    --branco: #FFFFFF;
    --preto: #080808;
    --preto: #000000;
    --cinza: #8d8d8d;

}

body{
    background-color: var(--preto);
}

h1{
position:absolute;
z-index: -1;
opacity: 0;
}



main{
    background-color: rgb(1, 5, 6);
    width: 90%;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

form{
    /* background-color: rgb(148, 5, 5); */
    width: 100%;
     height: 100%;
    display: flex;
    flex-direction: column; 
}

#div_conversa{
    background-color: rgb(116, 2, 2);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 81px;
    padding: 1%;
    overflow-y: scroll;
}

.div_card_conversa{
    width: 100%;
    display: flex;
}

.div_card_conversa_chat{
    /* background-color: #8d8d8d; */
    justify-content: flex-start;
}

.div_card_conversa_user{
    /* background-color: #8d8d8d; */
    justify-content: flex-end;
}

.div_card_conversa > p{
    background-color: var(--cinza);
    width: 100%;
    max-width: 550px;
    min-width: 71px;
    border-radius: 7px;
    padding: 1%;

    color: var(--preto);
    font-weight: 400;
    font-size: 16px;
}

#footer_pergunta{
    /* background-color: rgb(238, 92, 116); */
    width: 100%;
    
}

#footer_pergunta>div{
    background-color: #bcb8b8;
    width: 100%;
    height: 79px;
    border-radius: 7px;

    display:flex;
    justify-content: space-between;
    padding: 1%;

}


#footer_pergunta>div>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


    #footer_pergunta>div>textarea{
        background-color: #bcb8b8;
        border: none;
        outline: none;
        resize: none;

        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 1%;
    }

